
{% block content %}
{% include 'header.html' %}

<body style="background-image: url('{{url_for('static', filename='/img/bg/pebbles-bg.png') }}');">


{% include "navigationbar.html" %}
<hr style="margin: 0px auto 1%;">
<section class="home-section row">

    <div class="col-lg-3"></div>

    <div class="col-lg-6">
    <div id="myDIV" class="header">
    <div id="to-do-title">
    {% if logged_out != True %}
        <h2>{{ user.name }}'s To Do List</h2>
    {% else %}
        <h2>My To Do List</h2>
    {% endif %}
    </div>
    <br>
    <form action="{{ url_for('add_entry') }}" method="post">
        <input type="text" id="myInput" name="add_entry" placeholder="Add New Entry">
        <input type="submit" value="ADD ENTRY" class="addBtn">
    </form>
    </div>

<!-- flash messages "sign in to add an entry" -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <p style="color:red; font-size:1.2rem;">{{ messages[0] }}</p>
        {% endif %}
    {% endwith %}

    <ul id="myUL" class="ul1">

      {% if logged_out == True %}
          <li class="li1">Make Tea<a class="delete-entry">✔</a></li>
          <li class="li1">Meditate<a class="delete-entry">✔</a></li>
          <li class="li1">Read a book<a class="delete-entry">✔</a></li>
          <li class="li1">Study and Hustle<a class="delete-entry">✔</a></li>
          <li class="li1">Work Out<a class="delete-entry">✔</a></li>
          <li class="li1">Walking (30 minutes)<a class="delete-entry">✔</a></li>
      {% elif logged_out == False and entry_len > 0 %}
          {% for entry in entries %}
          <div class="each-entry">
          <li class="li1">
              {{ entry.entry }}
              <a class="delete-entry" href="{{url_for('delete_entry', entry_id=entry.id) }}">✔</a>
          </li>
          </div>
          {% endfor %}
      {% elif entry_len == 0 and logged_out == False %}
          <li class="li1">Add Entry<a class="delete-entry">✔</a></li>
          <li class="li1">Add Entry<a class="delete-entry">✔</a></li>
          <li class="li1">Add Entry<a class="delete-entry">✔</a></li>
      {% endif %}
    </ul>
    </div>
    <div class="col-lg-3"></div>
</section>

{% include "footer.html" %}

{% endblock %}